[submodule "lib/iterm2-color-schemes"]
	path = lib/iterm2-color-schemes
	url = git@github.com:mbadolato/iTerm2-Color-Schemes.git
[submodule "links/.vim/pack/mine/start/gruvbox"]
	path = links/.vim/pack/mine/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
